:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #efefef;
    --blue: #4eafb5;
    --blue-light: rgb(37, 157, 168, 0.2);
    --blue-dark: rgb(37, 157, 168, 0.7);

    --Header-2: 44px;
    --Header-3: 35px;
    --Header-4: 20px;
}

@font-face {
    font-family: "Georgia", serif;
    src: url("../../../../assets/fonts/Georgia.woff");
}

@font-face {
    font-family: "Arial", sans-serif;
    src: url("../../../../assets/fonts/ArialMT.woff");
}

*,
::after,
::before {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    height: 100vh;

    background-color: var(--white);
    color: var(--black);

    font-family: 'Open Sans' ,Arial ,sans-serif;
    font-weight: 300;
    letter-spacing: 0.06em;
    line-height: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.style-list {
    list-style: none;
    padding: 0;
}

.style-list__item {
    display: flex;
    margin-left: 25px;
}

.style-list__item::before {
    content: "";
    position: relative;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--blue);

    margin-right: 10px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.section__comtent {
    margin-left: 25px;
    margin-top: 50px;
    width: 100%;
    text-align: justify;
}

.title {
    margin-bottom: 30px;
    font-family: 'Open Sans' ,Arial ,sans-serif;
    font-weight: 300;
    font-size: 30px;

    line-height: 32px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.06em;
}

.section__description {
    display: flex;
}


/* стилизация таблицы */
.table-wrap {
    overflow: auto;
}
.table {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;

    width: 100%;

    border-collapse: collapse;

    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px var(--blue-light);
    overflow-x: hidden;
   
}

.table__caption {
    margin-bottom: 10px;
    font-weight: 700;
    width: 300px;
}

.table__title {
    background-color: var(--blue);
    color: var(--white);
}

.table__title td{
    padding-top: 7px;
    padding-bottom: 7px;
}

tbody tr:hover {
    background: var(--blue-light);
}

   /* Блок контактов */
.block-contacts {
    margin: 35px auto;
    padding: 13px;
    text-align: center;
    text-decoration: none;

    width: 220px;
    height: 75px;
    background-color: var(--blue);
    border-radius: 5px;
}

.block-contacts a{
    display: block;
    text-decoration: none;
    color: var(--white);
}

@media(max-width: 768px) {
    .container {
        max-width: 550px;
    }

    .section__content {
        margin-right: 15px;
        text-align: justify;
    }

    .section__description {
        flex-wrap: wrap;
        justify-content: center;
    }
}



@media(max-width: 550px) {
    .container {
        max-width: 320px;
        padding: 0 5px;
    }

    .title {
        margin-top: 30px;
        font-size: 25px;
    }

    .section__comtent {
        margin: 15px;
        margin-left: 15px;
        width: 100%;
    }
}

