.press-wall__img{
    width: 450px;
    text-align: center;
} 

@media(max-width: 768px) {
    .press-wall__img{
        width: 350px;
        height: 350px;
    } 

    .press-wall__table-title {
        letter-spacing: -0.5px;
    }
    
    .press-wall__table-title td{
        min-width: 130px;
    }
}

@media(max-width: 550px) {
    .press-wall__img{
        width: 350px;
    } 
    
    .press-wall__content {
        margin-left: 15px;
        margin-top: 15px;
    }

    .press-wall__subtitle {
        margin-top: 20px;
    }

    .press-wall__list {
        text-align: left;
    }
}
